$main-color: #00acdc;
$white-color: rgb(255, 255, 255);
$card-border: #f3f3f3;

.card {
  border: 1px solid $card-border;
  border-radius: 5px;
  height: 403px;
  width: 200px;
  padding: 15px 15px 15px 14px;

  &__picture {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 164px;
    transition: transform 1s;
    border: 3px solid transparent;
    margin-bottom: 30px;

    &:hover {
      transform: scale(1.2);
      border-color: $card-border;
    }
  }

  &__image {
    width: 160px;
    height: 134px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 5px;
    width: 170px;
  }

  &__code {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin: 0;
  }

  &__rate {
    margin: 15px 0;
  }

  &__review {
    position: absolute;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    left: 63.5%;
    top: 274px;
    bottom: 115px;
  }

  &__price {
    display: grid;
    grid-template-columns: repeat(2, 90px);
    margin: 25px 0 20px;

  }

  

  &__button {
    display: block;
    background: $main-color;
    border-radius: 5px;
    text-decoration: none;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 39px;
    color: $white-color;
    text-transform: uppercase;
    border: 1px solid  $main-color;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 1s, color 1s;
  }

  &__button:hover {
    background-color: $white-color;
    color: $main-color;
  }
}
