.stars {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(5, 15px);

  &__item {
    height: 15px;
    background: url(../images/star.svg) no-repeat center;
  }

  @for $i from 1 through 5 {
    &--#{$i} .stars__item:nth-child(-n+#{$i}) {
      background: url("../images/star-active.svg") no-repeat center;
    }
  }
}
